{% extends 'site_app/user.html' %}

{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Data</a>
	</li>
	<li class="breadcrumb-item active">Character LP</li>
</ol>

<div class="row">
	<div class="col-lg-3">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-dollar-sign"></i>
				Buyback Payout
			</div>
			<div class="card-body">
				<strong>Guristas:</strong><br>
				&nbsp;&nbsp;{{ guristas_lp_sum }} LP<br>
				&nbsp;&nbsp;x {{ guristas_lp_rate }} ISK/LP<br>
				&nbsp;&nbsp;= <strong>{{ guristas_lp_value }} ISK</strong>
				<br><br>
				<strong>Sanshas:</strong><br>
				&nbsp;&nbsp;{{ sanshas_lp_sum }} LP<br>
				&nbsp;&nbsp;x {{ sanshas_lp_rate }} ISK/LP<br>
				&nbsp;&nbsp;= <strong>{{ sanshas_lp_value }} ISK</strong>
			</div>
		</div>
	</div>

	<div class="col-lg-9">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i>
				Character LP</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								{% if request.user.is_superuser %}
								<th>Owner</th>
								{% endif %}
								<th>Character</th>
								<th>Guristas LP</th>
								<th>Sanshas LP</th>
							</tr>
						</thead>
						<tbody>
							{% for key,value in lp_dict.items %}
							<tr>
								{% if request.user.is_superuser %}
								<td>{{ value.2 }}</td>
								{% endif %}
								<td>{{ key }}</td>
								<td>{{ value.0 }}</td>
								<td>{{ value.1 }}</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								{% if request.user.is_superuser %}
								<th></th>
								{% endif %}
								<th>Total LP:</th>
								<th>{{ guristas_lp_sum }}</th>
								<th>{{ sanshas_lp_sum }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

	{% endblock %}
