version: '3.7'

services:

    postgres:
        image: postgres:12.1
        env_file:
            - ./.env
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ./backup:/backup

    web:
        build: ./
        env_file:
            - ./.env
        environment:
            - DEBUG=1
            - BASE_URL=http://localhost:8000/
        volumes:
            - ./src:/src
            - ./static:/static
            - ./media:/media
        command: sh -c "python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
        ports:
            - 8000:8000
        depends_on:
            - postgres

volumes:
    postgres-data:
    backup:
