version: '3.7'

services:

    postgres:
        image: postgres:12.1
        env_file:
            - ./.env
        volumes:
            - postgres-data:/var/lib/postgresql/data
        restart: on-failure

    web:
        build: ./
        env_file:
            - ./.env
        volumes:
            - ./src:/src
            - ./static:/static
            - ./media:/media
        command: sh -c "python manage.py collectstatic --no-input &&
            python manage.py makemigrations &&
            python manage.py migrate &&
            gunicorn krabshack_project.wsgi -b 0.0.0.0:80"
        expose:
            - 80
        depends_on:
            - postgres
        restart: on-failure

    nginx:
        image: nginx:latest
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./config/nginx:/etc/nginx/conf.d
            - ./config/certbot/conf:/etc/letsencrypt
            - ./config/certbot/www:/var/www/certbot
            - ./static:/static
            - ./media:/media
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
        depends_on:
            - web
        restart: on-failure

    certbot:
        image: certbot/certbot
        volumes:
            - ./config/certbot/conf:/etc/letsencrypt
            - ./config/certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        restart: on-failure

volumes:
    postgres-data:
