{% extends 'tables_app/table.html' %}

{% block table %}

<!-- begin:: Sum Columns -->
{% if request.user.is_superuser %}
<script type="text/javascript">
    columns = [3, 5];
    widget.init(columns);
</script>
{% else %}
<script type="text/javascript">
    columns = [2, 4];
    widget.init(columns);
</script>
{% endif %}
<!-- end:: Sum Columns -->

<!-- begin:: Cashout Table -->
<table class="table table-striped table-hover" id="kt_table_1">
	<thead>
		<tr>
			{% if request.user.is_superuser %}
			<th>Client</th>
			{% endif %}
			<th>Date</th>
			<th>Type</th>
			<th>LP</th>
			<th>Rate</th>
			<th>Profit</th>
		</tr>
	</thead>
	<tbody>
		{% for cashout in cashouts %}
		<tr>
			{% if request.user.is_superuser %}
			<td>{{ cashout.client }}</td>
			{% endif %}
			<td>
				<span style="display: none;">{{ cashout.date|date:"Y-m-d" }}</span>
					{{ cashout.date|date:"F jS, Y" }}
			</td>
			<td>{{ cashout.lp_type }}</td>
			<td align='right'>{{ cashout.lp }}</td>
			<td align='right'>{{ cashout.rate }}</td>
			<td align='right'>{{ cashout.profit }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			{% if request.user.is_superuser %}
			<th>Totals:</th>
			<th></th>
			{% else %}
			<th>Totals:</th>
			{% endif %}
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>
<!-- end:: Cashout Table -->

{% endblock %}
