{% load static %}

<!DOCTYPE html>

<html lang="en">

	<!-- begin::Head -->
	<head>
		<base href="">
		<meta charset="utf-8" />
		<title>Krab Shack.</title>
		<meta name="description" content="Krab Shack. LP buyback and courier services">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- begin::Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
		<!-- end::Fonts -->

		<!-- begin::Global Theme Styles(used by all pages) -->
		<!-- begin:: Vendor Plugins -->
		<link href="{% static 'assets/plugins/general/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/tether/dist/css/tether.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet' %}" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/select2/dist/css/select2.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/ion-rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/nouislider/distribute/nouislider.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/owl.carousel/dist/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/owl.carousel/dist/assets/owl.theme.default.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/quill/dist/quill.snow.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/@yaireo/tagify/dist/tagify.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/summernote/dist/summernote.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/animate.css/animate.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/toastr/build/toastr.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/dual-listbox/dist/dual-listbox.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/morris.js/morris.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/sweetalert2/dist/sweetalert2.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/socicon/css/socicon.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/plugins/line-awesome/css/line-awesome.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/plugins/flaticon/flaticon.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/plugins/flaticon2/flaticon.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/general/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- end:: Vendor Plugins -->

		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />

		<!-- begin:: Vendor Plugins for custom pages -->
		<link href="{% static 'assets/plugins/custom/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/@fullcalendar/core/main.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/@fullcalendar/daygrid/main.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/@fullcalendar/list/main.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/@fullcalendar/timegrid/main.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/jstree/dist/themes/default/style.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/jqvmap/dist/jqvmap.cs' %}s" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/custom/uppy/dist/uppy.min.css' %}" rel="stylesheet" type="text/css" />
		<!-- end:: Vendor Plugins for custom pages -->
		<!-- end::Global Theme Styles -->

		<!-- begin::Layout Skins(used by all pages) -->
		<link href="{% static 'assets/css/skins/header/base/dark.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/skins/header/menu/dark.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/skins/brand/light.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/skins/aside/dark.css' %}" rel="stylesheet" type="text/css" />
		<!-- end::Layout Skins -->

		<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />
	</head>
	<!-- end::Head -->

	<!-- begin::Body -->
	<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

		<!-- begin:: Header Mobile -->
		<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed ">
			<div class="kt-header-mobile__logo">
				<a href="/">
					<img alt="Logo" src="{% static 'assets/media/logo.png' %}" style="height: 40px" />
				</a>
			</div>
			<div class="kt-header-mobile__toolbar" align="left">
				<button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
				<button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
			</div>
		</div>
		<!-- end:: Header Mobile -->

		<!-- begin:: Root -->
		<div class="kt-grid kt-grid--hor kt-grid--root">

			<!-- begin:: Page -->
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside -->
				<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

					<!-- begin:: Aside Brand -->
					<div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
						<div class="kt-aside__brand-logo">
							<a href="/">
								<img alt="Logo" src="{% static 'assets/media/logo.png' %}" style="height: 50px" />
							</a>
						</div>
						<div class="kt-aside__brand-tools">
							<button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
								<span><i class='flaticon-squares-2'></i></span>
								<span><i class='flaticon-squares-2'></i></span>
							</button>
						</div>
					</div>
					<!-- end:: Aside Brand -->

					<!-- begin:: Aside Menu -->
					<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
						<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
							<ul class="kt-menu__nav">

								<li class="kt-menu__section ">
									<h4 class="kt-menu__section-text">Services</h4>
									<i class="kt-menu__section-icon flaticon-more-v2"></i>
								</li>

								<li class="kt-menu__item {% if 'buyback' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/services/buyback" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z" fill="#000000" opacity="0.3" transform="translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) "/>
											        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z" fill="#000000"/>
											    </g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Buyback</span>
									</a>
								</li>

								<li class="kt-menu__item {% if 'couriers' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/services/couriers" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <path d="M20.4061385,6.73606154 C20.7672665,6.89656288 21,7.25468437 21,7.64987309 L21,16.4115967 C21,16.7747638 20.8031081,17.1093844 20.4856429,17.2857539 L12.4856429,21.7301984 C12.1836204,21.8979887 11.8163796,21.8979887 11.5143571,21.7301984 L3.51435707,17.2857539 C3.19689188,17.1093844 3,16.7747638 3,16.4115967 L3,7.64987309 C3,7.25468437 3.23273352,6.89656288 3.59386153,6.73606154 L11.5938615,3.18050598 C11.8524269,3.06558805 12.1475731,3.06558805 12.4061385,3.18050598 L20.4061385,6.73606154 Z" fill="#000000" opacity="0.3"/>
											        <polygon fill="#000000" points="14.9671522 4.22441676 7.5999999 8.31727912 7.5999999 12.9056825 9.5999999 13.9056825 9.5999999 9.49408582 17.25507 5.24126912"/>
											    </g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Couriers</span>
									</a>
								</li>

								<li class="kt-menu__section ">
									<h4 class="kt-menu__section-text">Data</h4>
									<i class="kt-menu__section-icon flaticon-more-v2"></i>
								</li>

								<li class="kt-menu__item {% if 'market' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/esi/market" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24"></rect>
													<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
													<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
													<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
													<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
												</g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Market</span>
									</a>
								</li>

								<li class="kt-menu__item {% if 'cashouts' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/data/cashouts" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <polygon points="0 0 24 0 24 24 0 24"/>
											        <rect fill="#000000" opacity="0.3" transform="translate(13.000000, 6.000000) rotate(-450.000000) translate(-13.000000, -6.000000) " x="12" y="8.8817842e-16" width="2" height="12" rx="1"/>
											        <path d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) "/>
											        <rect fill="#000000" opacity="0.3" transform="translate(11.000000, 18.000000) scale(1, -1) rotate(90.000000) translate(-11.000000, -18.000000) " x="10" y="12" width="2" height="12" rx="1"/>
											        <path d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z" fill="#000000" fill-rule="nonzero" transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) "/>
											    </g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Cashouts</span>
									</a>
								</li>

								<li class="kt-menu__item {% if 'lp' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/esi/lp" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <polygon points="0 0 24 0 24 24 0 24"/>
											        <path d="M12,4.25932872 C12.1488635,4.25921584 12.3000368,4.29247316 12.4425657,4.36281539 C12.6397783,4.46014562 12.7994058,4.61977315 12.8967361,4.81698575 L14.9389263,8.95491503 L19.5054023,9.61846284 C20.0519472,9.69788046 20.4306287,10.2053233 20.351211,10.7518682 C20.3195865,10.9695052 20.2170993,11.1706476 20.0596157,11.3241562 L16.7552826,14.545085 L17.5353298,19.0931094 C17.6286908,19.6374458 17.263103,20.1544017 16.7187666,20.2477627 C16.5020089,20.2849396 16.2790408,20.2496249 16.0843804,20.1472858 L12,18 L12,4.25932872 Z" fill="#000000" opacity="0.3"/>
											        <path d="M12,4.25932872 L12,18 L7.91561963,20.1472858 C7.42677504,20.4042866 6.82214789,20.2163401 6.56514708,19.7274955 C6.46280801,19.5328351 6.42749334,19.309867 6.46467018,19.0931094 L7.24471742,14.545085 L3.94038429,11.3241562 C3.54490071,10.938655 3.5368084,10.3055417 3.92230962,9.91005817 C4.07581822,9.75257453 4.27696063,9.65008735 4.49459766,9.61846284 L9.06107374,8.95491503 L11.1032639,4.81698575 C11.277344,4.464261 11.6315987,4.25960807 12,4.25932872 Z" fill="#000000"/>
											    </g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Loyalty Points</span>
									</a>
								</li>

								<!-- TODO finish corp check-->
								{% if vg %}
								<li class="kt-menu__item {% if 'moon' in request.path %}kt-menu__item--active{% endif %}">
									<a href="/esi/moon" class="kt-menu__link">
										<span class="kt-menu__link-icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <path d="M12.0700837,4.0003006 C11.3895108,5.17692613 11,6.54297551 11,8 C11,12.3948932 14.5439081,15.9620623 18.9299163,15.9996994 C17.5467214,18.3910707 14.9612535,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 C12.0233848,4 12.0467462,4.00010034 12.0700837,4.0003006 Z" fill="#000000"/>
											    </g>
											</svg>
										</span>
										<span class="kt-menu__link-text">Moons</span>
									</a>
								</li>
								{% endif %}


							</ul>
						</div>
					</div>
					<!-- end:: Aside Menu -->

				</div>
				<!-- end:: Aside -->

				<!-- begin:: Wrapper -->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed ">

						<!-- begin:: Header Menu -->
						<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
							<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile kt-header-menu--layout-default ">
							</div>
						</div>
						<!-- end:: Header Menu -->

						<!-- begin:: Header Topbar -->
						<div class="kt-header__topbar">
							{% block topbar %}{% endblock %}
						</div>
						<!-- end:: Header Topbar -->

					</div>
					<!-- end:: Header -->

					<!-- begin:: Content -->
					<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
					{% block content %}{% endblock %}
					</div>
					<!-- end:: Content -->

					<!-- begin:: Footer -->
					<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
						<div class="kt-container kt-container--fluid ">
							<div class="kt-footer__copyright">
								2020&nbsp;&copy;&nbsp;Krab Shack.
							</div>
						</div>
					</div>
					<!-- end:: Footer -->

				</div>
				<!-- end:: Wrapper -->

			</div>
			<!-- end:: Page -->

		</div>
		<!-- end:: Root -->

		<!-- end:: Logout Modal -->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirm Logout</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="{% url 'logout' %}?next=/">Logout</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Logout Modal -->

		<!-- begin:: Error Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">{{ error.title }}</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">{{ error.body|linebreaks }}</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Error Modal -->


		<!-- begin::Global Config(global config for global JS sciprts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#5d78ff",
						"dark": "#282a3c",
						"light": "#ffffff",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": [
							"#c5cbe3",
							"#a1a8c3",
							"#3d4465",
							"#3e4466"
						],
						"shape": [
							"#f0f3ff",
							"#d9dffa",
							"#afb4d4",
							"#646c9a"
						]
					}
				}
			};
		</script>
		<!-- end::Global Config -->

		<!-- begin::Global Theme Bundle(used by all pages) -->
		<!-- begin:: Vendor Plugins -->
		<script src="{% static 'assets/plugins/general/jquery/dist/jquery.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/popper.js/dist/umd/popper.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js-cookie/src/js.cookie.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/moment/min/moment.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/tooltip.js/dist/umd/tooltip.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/perfect-scrollbar/dist/perfect-scrollbar.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/sticky-js/dist/sticky.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/wnumb/wNumb.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery-form/dist/jquery.form.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/block-ui/jquery.blockUI.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/bootstrap-datepicker.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/bootstrap-timepicker.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-maxlength/src/bootstrap-maxlength.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-select/dist/js/bootstrap-select.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-switch/dist/js/bootstrap-switch.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/bootstrap-switch.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/select2/dist/js/select2.full.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/ion-rangeslider/js/ion.rangeSlider.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/typeahead.js/dist/typeahead.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/handlebars/dist/handlebars.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/inputmask/dist/jquery.inputmask.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/inputmask/dist/inputmask/inputmask.date.extensions.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/nouislider/distribute/nouislider.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/owl.carousel/dist/owl.carousel.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/autosize/dist/autosize.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/clipboard/dist/clipboard.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/dropzone/dist/dropzone.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/dropzone.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/quill/dist/quill.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/@yaireo/tagify/dist/tagify.polyfills.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/@yaireo/tagify/dist/tagify.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/summernote/dist/summernote.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/markdown/lib/markdown.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-markdown/js/bootstrap-markdown.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/bootstrap-markdown.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/bootstrap-notify/bootstrap-notify.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/bootstrap-notify.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery-validation/dist/jquery.validate.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery-validation/dist/additional-methods.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/jquery-validation.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/toastr/build/toastr.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/dual-listbox/dist/dual-listbox.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/raphael/raphael.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/morris.js/morris.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/chart.js/dist/Chart.bundle.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/plugins/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/plugins/jquery-idletimer/idle-timer.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/waypoints/lib/jquery.waypoints.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/counterup/jquery.counterup.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/es6-promise-polyfill/promise.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/sweetalert2/dist/sweetalert2.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/js/global/integration/plugins/sweetalert2.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery.repeater/src/lib.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery.repeater/src/jquery.input.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/jquery.repeater/src/repeater.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/general/dompurify/dist/purify.js' %}" type="text/javascript"></script>
		<!-- end:: Vendor Plugins -->

		<script src="{% static 'assets/js/scripts.bundle.js' %}" type="text/javascript"></script>

		<!-- begin:: Vendor Plugins for custom pages -->
		<script src="{% static 'assets/plugins/custom/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/core/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/daygrid/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/google-calendar/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/interaction/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/list/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/@fullcalendar/timegrid/main.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/gmaps/gmaps.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/dist/es5/jquery.flot.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.resize.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.categories.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.pie.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.stack.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.crosshair.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/flot/source/jquery.flot.axislabels.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net/js/jquery.dataTables.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-bs4/js/dataTables.bootstrap4.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/js/global/integration/plugins/datatables.init.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-autofill/js/dataTables.autoFill.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jszip/dist/jszip.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/pdfmake/build/pdfmake.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/pdfmake/build/vfs_fonts.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons/js/buttons.colVis.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons/js/buttons.flash.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons/js/buttons.html5.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-buttons/js/buttons.print.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-keytable/js/dataTables.keyTable.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-responsive/js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-scroller/js/dataTables.scroller.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/datatables.net-select/js/dataTables.select.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jstree/dist/jstree.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/jquery.vmap.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/jqvmap/dist/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
		<script src="{% static 'assets/plugins/custom/uppy/dist/uppy.min.js' %}" type="text/javascript"></script>
		<!-- end:: Vendor Plugins for custom pages -->
		<!-- end::Global Theme Bundle -->

		<!-- begin::Page -->
		{% block js %}{% endblock %}
		<!-- end::Page Scripts -->

		<!-- begin::Custom Scripts -->
		<script src="{% static '/assets/js/dropdowns.js' %}" type="text/javascript"></script>
		<script src="{% static '/assets/js/refresh.js' %}" type="text/javascript"></script>
		{% if error.status %}
		<script src="{% static '/assets/js/error.js' %}" type="text/javascript"></script>
		{% endif %}
		<!-- end::Custom Scripts -->

		<script src="https://cdn.datatables.net/plug-ins/1.10.20/features/scrollResize/dataTables.scrollResize.min.js" type="text/javascript"></script>
	</body>
	<!-- end::Body -->

</html>
