{% extends 'site_app/user.html' %}

{% block content %}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Services</a>
	</li>
	<li class="breadcrumb-item active">LP Buyback</li>
</ol>

<!-- Cards -->
<div class="row">

	<!-- Rates -->
	<div class="col-lg-3">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-balance-scale"></i>
				Buyback Rates
			</div>
			<div class="card-body">
				Guristas: <strong>{{ guristas_lp_rate }}</strong> ISK/LP<br>
				Sanshas: <strong>{{ sanshas_lp_rate }}</strong> ISK/LP<br>
				DED: <strong>{{ ded_lp_rate }}</strong> ISK/LP
			</div>
		</div>
	</div>

	<!-- Instructions -->
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-list"></i>
				Instructions
			</div>
			<div class="card-body">
				{{ instructions.field_text|safe }}
			</div>
			<div class="card-footer small text-muted">Updated {{ instructions.last_updated }}</div>
		</div>
	</div>
	
</div>

{% endblock %}
