{% extends 'site_app/user.html' %}

{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Services</a>
	</li>
	<li class="breadcrumb-item active">LP Buyback</li>
</ol>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-list"></i>
		Instructions
	</div>
	<div class="card-body">
		I buy Guristas LP at a variable ISK/LP rate, you can see the current rate <a href="https://docs.google.com/spreadsheets/d/16yUdyxjwbvpCLZXae2boimwDcMqyGzjnmcJIuLGV0O8/edit?usp=sharing">here</a>.<br>
		Direct message me on Discord at William Pierce#275 for more details.​<br><br>
		I will also buy anything else (faction drops, Gila BPCs, etc) for the right price.<br>
		Message me on Discord if you have something to sell.<br>
		~250 mil minimum please, unless you're also selling LP.
	</div>
	<div class="card-footer small text-muted">Updated 2019/3/31 at 02:00</div>
</div>

{% endblock %}
