{% extends 'site_app/user.html' %}

{% block content %}

{% load static %}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Services</a>
	</li>
	<li class="breadcrumb-item active">Couriers</li>
</ol>

<!-- Cards -->
<div class="row">

	<!-- Calculator -->
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-calculator"></i>
				Calculator
			</div>
			<div class="card-body">
				<form>
					<div class="form-group row">
						<label for="origin" class="col col-form-label">Origin</label>
						<div class="col-8">
							<select class="form-control" id="origin" name="origin">
								<option></option>
								<option>Jita 4-4</option>
								<option>K3JR-J - Horde Citadel</option>
								<option>K3JR-J - NPC Station</option>
								<option>G-ME2K 8-3</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="destination" class="col col-form-label">Destination</label>
						<div class="col-8">
							<select class="form-control" id="destination" name="destination">
								<option></option>
								<option>Jita 4-4</option>
								<option>K3JR-J - Horde Citadel</option>
								<option>K3JR-J - NPC Station</option>
								<option>G-ME2K 8-3</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="collateral" class="col col-form-label">Collateral</label>
						<div class="col-8">
							<input class="form-control" id="collateral" type="number" placeholder="ISK" />
						</div>
					</div>
					<div class="form-group row">
						<label for="volume" class="col col-form-label">Volume</label>
						<div class="col-8">
							<input class="form-control" id="volume" type="number" placeholder="m3" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<input class="form-control" type="button" value="Submit" onclick="calculate()" />
						</div>
					</div>
					<div class="form-group row">
						<label for="reward" class="col col-form-label">Reward</label>
						<div class="col-8 input-group">
							<input class="form-control" id="reward" placeholder="ISK" />
							<span class="input-group-btn">
								<button class="btn btn-default" id="rewardcopy" type="button" onclick="clipboardCopy()">
									<i class="fas fa-clipboard"></i>
								</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Instructions -->
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-list"></i>
				Instructions
			</div>
			<div class="card-body">
				{{ instructions.field_text|safe }}
			</div>
			<div class="card-footer small text-muted">Updated {{ instructions.last_updated }}</div>
		</div>
	</div>
	
</div>

<!-- Route cards -->
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-map"></i>
		Routes
	</div>
	<div class="card-body">
		<div class="row">
			{% for route in routes %}
			<div class="col-xl-3">
				<div class="card mb-3">
					<div class="card-header">
						{{ route.origin }}<br>
						<i class="fas fa-exchange-alt"></i><br>
						{{ route.destination }}
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<i class="fas fa-credit-card"></i>
								{{ route.m3_pricing }} ISK/m3 + {{ route.collateral_percent }}% of collateral
							</li>
							<li class="list-group-item">
								<i class="fas fa-dice-d6"></i>
								{{ route.max_volume }} m3 max
							</li>
							<li class="list-group-item">
								<i class="fas fa-clock"></i>
								{{ route.completion_days }} day completion
							</li>
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="card-footer small text-muted">Updated {{ last_updated }}</div>
</div>

<script src="{% static 'js/calculator.js' %}"></script>

{% endblock %}
