{% extends 'site_app/user.html' %}

{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Home</a>
	</li>
</ol>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-info"></i>
		Info
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-xl-5 col-sm-6 mb-1">
				Welcome!<br>
				This site is still under construction.<br><br>
				Information on courier and buyback services can be found under "Services" in the sidebar.<br><br>
				Try logging in and checking out the "LP Cashouts" table under "Data"!
			</div>
			<div class="col-xl-3 col-sm-6 mb-1">
				<iframe src="https://discordapp.com/widget?id=521753330582552579&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
			</div>
		</div>
	</div>
	<div class="card-footer small text-muted">Updated 2019/3/31 at 02:00</div>
</div>

{% endblock %}
