{% extends 'krabshack_project/base.html' %}

{% block loginlogout %}

{% if request.user.is_authenticated %}

<!-- Username -->
<li class="nav-item">
	<a class="nav-item nav-link">{{ user.username }}</a>
</li>

<!-- Character portrait dropdown -->
<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px; padding-bottom: 4px">
		<img src="https://image.eveonline.com/Character/{{ request.user.social_auth.get.uid }}_30.jpg" class="rounded-circle"></img>
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
		{% if request.user.is_staff %}
		<a class="dropdown-item" href="/admin">Admin</a>
		{% endif %}
		<a class="dropdown-item" href="/esi/login">Add Character</a>
		<a class="dropdown-item" href="{% url 'logout' %}?next=/" data-toggle="modal" data-target="#logoutModal">Logout</a>
	</div>
</li>

{% else %}

<!-- Login button -->
<li class="nav-item">
	<a href="{% url 'social:begin' 'eveonline' %}?next={{request.path}}">
		<img src="/static/eve-sso-login-white-small.png" border=0>
	</a>
</li>

{% endif %}

{% endblock %}
