{% extends 'site_app/user.html' %}

{% block content %}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Data</a>
	</li>
	<li class="breadcrumb-item active">LP Cashouts</li>
</ol>

<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-table"></i>
		LP Cashouts</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						{% if request.user.is_superuser %}
						<th>Client</th>
						{% endif %}
						<th>Date</th>
						<th>Type</th>
						<th>LP</th>
						<th>Rate</th>
						<th>Profit</th>
					</tr>
				</thead>
				<tbody>
					{% for cashout in cashouts %}
					<tr>
						{% if request.user.is_superuser %}
						<td>{{ cashout.client }}</td>
						{% endif %}
						<td>
							<span style="display: none;">{{ cashout.date|date:"Y-m-d" }}</span>
  							{{ cashout.date|date:"F jS, Y" }}
						</td>
						<td>{{ cashout.lp_type }}</td>
						<td align='right'>{{ cashout.lp }}</td>
						<td align='right'>{{ cashout.rate }}</td>
						<td align='right'>{{ cashout.profit }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						{% if request.user.is_superuser %}
						<th></th>
						{% endif %}
						<th></th>
						<th>Totals:</th>
						<td align='right'>
							<strong>
								{{ totals.lpsum.total }}
							</strong>
						</td>
						<th></th>
						<td align='right'>
							<strong>
								{{ totals.profitsum.total }}
							</strong>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted">Updated {{ last_updated }}</div>
</div>

{% endblock %}
